.snipsContainer {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-top: 30px;
}

.snipItem {
  margin-top: 40px;
  background-color: rgb(236, 234, 234);
}

.snipItem:hover {
  background-color: rgb(206, 203, 203);
}
